@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --base-color: #011627;
  --sub-base-color: #2ec4b6;
  --sub-color: #ff9f1c;
  --text-color: #fdfffc;
  --base-p-fs: calc(0.5rem + 0.6vw);
  --base-header-fs: calc(2rem + 2vw);
  --logo-width: max(20px, 10%);
  --base-header-ff: "Bebas Neue", sans-serif;
  --base-paragraph-ff: "League Spartan", sans-serif;
  --base-margin: 0.3em 0em;
  --box-shadow: 5px 10px 30px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base-color);
  overflow-y: hidden;
}

#main-content {
  height: 90vh;
}

.game-h1 {
  text-align: center;
  color: var(--text-color);
  font-family: var(--base-header-ff);
  font-size: var(--base-header-fs);
  margin: var(--base-margin);
}

.player-names-container {
  display: flex;
  justify-content: space-between;
  height: 20%;
  padding: 0 2em;
}

.player-names {
  width: 30%;
  height: 70%;
  background-color: var(--sub-base-color);
  border-radius: 10px;
  text-align: center;
}

.player-names > h3 {
  color: var(--text-color);
  font-size: calc(1.4rem + 1vw);
  font-family: var(--base-paragraph-ff);
  margin-top: .1em;
}

.player-names > input {
  border: none;
  border-radius: 5px;
  height: 20%;
  margin-top: 20px;
}

.player-names > input:focus {
  outline: none;
}

.play-game {
  display: flex;
  justify-content: center;
}

.play-game-btn {
  background-color: var(--sub-color);
  border: none;
  color: var(--text-color);
  font-size: calc(.7rem + 1vw);
  font-family: var(--base-paragraph-ff);
  padding: .4em .8em;
  border-radius: 10px;
  cursor: pointer;
}

.player-turn {
    text-align: center;
    color: var(--sub-color);
    font-family: var(--base-paragraph-ff);
    font-size: var(--base-header-fs);
    margin: var(--base-margin);
}

.game-grid-container {
  width: 60vmin;
  height: 60vmin;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.game-grid {
  background-color: var(--sub-base-color);
  border-radius: 10px;
  font-size: var(--base-p-fs);
  color: var(--text-color);
  position: relative;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.game-grid:hover {
  background-color: teal;
}


/* DOM STYLING */
.player-marker {
  color: var(--sub-color);
  font-size: calc(3rem + 3vw);
  position: absolute;
  top: 15%;
  left: 30%;
}